# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [23]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [24]:
url_address = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url_address, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [38]:
#change item price to a float
#price = [float(value[1 : -1]) for value in chipo.item_price]
#set as price
#chipo.item_price = price
#delete duplicates in following 
#delete_copies = chipo.drop_duplicates(['item_name','quantity','choice_description']) 
#set product after deleting copies
#product = delete_copies[delete_copies.quantity == 1]
#product
#check for products whose item prive is above $10
#chipo.query('item_price > 10').item_name.nunique() 

#ANOTHER WAY TO DO IT

#Change item price from string to float 
chipo ['price_float'] = pd.to_numeric(chipo.item_price.str.slice(1))
chipo['price_float'].head()
#Setted float and get sum 
(chipo['price_float'] > 10).sum()
#Create price per item to avoid duplicates of items and item prices
chipo ['price_per_item'] = chipo.price_float / chipo.quantity
#Group prices by item name and newly made price float
price_of_products = chipo.groupby('item_name').agg({'price_per_item' : 'max'})
#Total of products that cost more than 10
(price_of_products.price_per_item > 10).sum()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [39]:
#grab price of price of products from above, already set 
price_of_products

                                       price_per_item
item_name
6 Pack Soft Drink                                6.49
Barbacoa Bowl                                   11.75
Barbacoa Burrito                                11.75
Barbacoa Crispy Tacos                           11.75
Barbacoa Salad Bowl                             11.89
Barbacoa Soft Tacos                             11.75
Bottled Water                                    1.50
Bowl                                             7.40
Burrito                                          7.40
Canned Soda                                      1.09
Canned Soft Drink                                1.25
Carnitas Bowl                                   11.75
Carnitas Burrito                                11.75
Carnitas Crispy Tacos                           11.75
Carnitas Salad                                   8.99
Carnitas Salad Bowl                             11.89
Carnitas Soft Tacos                             11.75
Chicken Bowl                                    11.25
Chicken Burrito                                 11.25
Chicken Crispy Tacos                            11.25
Chicken Salad                                   10.98
Chicken Salad Bowl                              11.25
Chicken Soft Tacos                              11.25
Chips                                            2.15
Chips and Fresh Tomato Salsa                     2.95
Chips and Guacamole                              4.45
Chips and Mild Fresh Tomato Salsa                3.00
Chips and Roasted Chili Corn Salsa               2.95
Chips and Roasted Chili-Corn Salsa               2.39
Chips and Tomatillo Green Chili Salsa            2.95
Chips and Tomatillo Red Chili Salsa              2.95
Chips and Tomatillo-Green Chili Salsa            2.39
Chips and Tomatillo-Red Chili Salsa              2.39
Crispy Tacos                                     7.40
Izze                                             3.39
Nantucket Nectar                                 3.39
Salad                                            7.40
Side of Chips                                    1.69
Steak Bowl                                      11.75
Steak Burrito                                   11.75
Steak Crispy Tacos                              11.75
Steak Salad                                      8.99
Steak Salad Bowl                                11.89
Steak Soft Tacos                                11.75
Veggie Bowl                                     11.25
Veggie Burrito                                  11.25
Veggie Crispy Tacos                              8.49
Veggie Salad                                     8.49
Veggie Salad Bowl                               11.25
Veggie Soft Tacos                               11.25

### Step 6. Sort by the name of the item

In [43]:
chipo.sort_values(by = "item_name")
#chipo.item_name.sort_values()

,order_id,quantity,item_name,choice_description,item_price,price_float,price_per_item
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49,6.49
...,...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [66]:
chipo.sort_values(by = "quantity", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,price_float,price_per_item
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25,2.95

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [74]:
#place item name and the total quantity
chipo[chipo.item_name =='Veggie Salad Bowl'].quantity.sum()

#ANOTHER WAY TO DO IT
#Set variable with item name
#chipo_veggie_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]
#Get the length of set variable for veggie salad bowl 
#len(chipo_veggie_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [76]:
(chipo[chipo.item_name =='Canned Soda'].quantity > 1).sum()

20